{% extends "./base.html" %}
{% load static %}
{% block title %}Papers and Pens{% endblock %}

{% block content %}
    <section class="py-5 text-center container">
        <div class="row py-lg-3">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="h1 fw-bold">Papers & Pen</h1>
            <p class="lead text-muted">Papers and Pen is a premier stationery company dedicated to providing high-quality and stylish writing essentials. We offer a wide range of premium papers and pens, catering to individuals and businesses seeking a seamless and enjoyable writing experience.</p>
            <p>
            <a href="{% url "account:register" %}" class="btn btn-primary my-2">Make an account</a>
            </p>
        </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="album py-5">
              <div class="pb-3">
                <h1 class = "h3">All Products</h1>
              </div>
          
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
    
            {% for product in products %}
    
            <div class="col">
              <div class="card shadow-sm">
                <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
                <div class="card-body">
                  <p class="card-text">
                    <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">₱{{ product.price }}</small>
                  </div>
                </div>
              </div>
            </div>
    
            {% endfor %}
    
          </div>
        </div>
      </div>
    
    </main>
{% endblock %}